@import url("https://fonts.googleapis.com/css2?family=Turret+Road&display=swap");

body {
  background-color: gray;
}

#header {
  font-family: "Turret Road", sans-serif;
  font-size: 30px;
  color: white;
  background-color: black;
  width: 215px;
  height: 70px;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

#headercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#menuscontainer {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  font-family: "Turret Road", sans-serif;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
}

.menuicon {
  display: block;
  width: 25%;
  background-color: black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.menuiconcontainer {
  border: 1px solid white;
  background-color: black;
}

#onclickmenu {
  visibility: hidden;
  text-align: center;
  font-family: "Turret Road", sans-serif;
  font-size: 20px;
  padding: 0px;
  margin: 0;
  background-color: black;
  color: white;
  list-style: none;
}

#onhovermenu {
  visibility: hidden;
  text-align: center;
  font-family: "Turret Road", sans-serif;
  font-size: 20px;
  padding: 0px;
  margin: 0;
  background-color: black;
  color: white;
  list-style: none;
}

li {
  border: 1px solid white;
  padding: 5px;
}

#credits {
  text-align: center;
  color: white;
}

#created {
  font-family: "Turret Road", sans-serif;
}
